.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: blue;
  height: 100px;
  width: 100%;
  button {
    height: 50px;
    width: 120px;
    font-size: large;
    color: white;
    margin: 4px;
    text-align: center;
    background-color: rgb(219, 0, 41);
    border-radius: 5px;
  }
} 